

<img src="../assets/minion.jpg" alt="..." class="img-thumbnail" />


<form action="/createPost" method="post" enctype="multipart/form-data">


    <div class="form-group">
      <label for="title">Escribe titulo</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>

    <div class="form-group">
        <label for="description">Escribe descripcion</label>
        <input type="text" class="form-control" name="desc" id="desc">
    </div>

    <div class="form-group">
      <label for="description">Selecciona imagen</label>
      <input type="file" class="form-control" name="imagen" id="imagen">
  </div>

    
  


    
    <input type="submit" class="btn btn-primary">
</form>