<h1>Cosas</h1>

<ul>
  <% books.forEach(function(book, index) {%>
   

<div class="card">
    <div class="card-header">
      Item: <%= index+1; %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><li><%= book %></li></h5>
    
    
    </div>
  </div>

   
  <% }) %>
</ul>